TMDB_API_KEY=5d6ca6cac36b51acf5c511763b6a4ed3
VITE_SUPABASE_URL=https://babpaxmleomvgnwikhoe.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhYnBheG1sZW9tdmdud2lraG9lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MTkwMzQsImV4cCI6MjA5NzI5NTAzNH0.3y3mvF93-8wXR38vJXzpR1icke6GJu1eODlu-pu43qE
